<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div class="ooo">
      <br>
      <h1 class="recuperar">Recuperar contraseña</h1>
    </div>
    
    <div>
      <h2 class="comrecuperar">Se enviará un correo (solo si el correo coincide con una cuenta registrada) con instrucciones para recuperar su contraseña</h2>
    </div>
    <br>
  </div>

  <div>
    <ion-list>
      <ion-list>
        <ion-list>
        <ion-item>
          <ion-input placeholder="Ingrese su correo" [(ngModel)]="correoConf"></ion-input>
        </ion-item>
        <br>
        <div class="btn_codigo">
          <ion-button (click)="enviarCorreocon()">Enviar correo</ion-button>
        </div>    
        
        </ion-list>
      </ion-list>
    </ion-list>
  </div>
  <br>
  <div class="btn_enviar">
    <ion-button (click)="volver()">Volver</ion-button>
  </div>

</ion-content>