.recuperar{
    justify-content: center;
    text-align: center;
    display: flex;
}

.ooo{
    background-color: rgb(0, 174, 255);
    padding-bottom: 20px;
    margin-top: 30px;
    border-radius: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.comrecuperar{
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn_codigo{
    justify-content: center;
    display: flex;
}

.btn_enviar{
    justify-content: center;
    display: flex;
}