// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

  --ion-color-secondary: rgb(150, 150, 150); /* Cambia el color secundario */
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3a9bd4;
  --ion-color-secondary-tint: #6ab9ff;
}