.btn_ingresar{
    justify-content: center;
    display: flex;
}
.btn_olvidar{
    justify-content: center;
    display: flex;
}

.headerlogin{
    text-align: center;
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
}

.imagen{
    text-align: center;
    justify-content: center;
}