<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>
        <p class="btnmenu" (click)="btninicio()">Inicio</p>
      </div>
      <div>
        <p class="btnmenu" (click)="btncerrar()">Cerrar sesión</p>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" id="informe">
      <div class="container">
        <div class="header-section">
          <div class="name-box">
            <p>Informe R.I</p>
          </div>
        </div>

        <br>

        <div class="info-box">
          <div class="info-item">
            <p>{{nombre1a}}</p>
            <ion-label class="info-label">
              <span class="porcnok">40%</span>
              <span class="labelri">R.I</span>
            </ion-label>            
          </div>
          <p class="ramoinfo">Asignatura: {{nombre1}}</p>     
          <div class="divider"></div>     
          <div class="info-item">
            <p>{{nombre2a}}</p>
            <ion-label class="info-label">
              <span class="porcnok">24%</span>
              <span class="labelri">R.I</span>
            </ion-label>
          </div>
          <p class="ramoinfo">Asignatura: {{nombre3}}</p>     
          <div class="divider"></div>  
          <div class="info-item">
            <p>{{nombre3a}}</p>
            <ion-label class="info-label">
              <span class="porcnok">20%</span>
              <span class="labelri">R.I</span>
            </ion-label>
          </div>
          <p class="ramoinfo">Asignatura: {{nombre1}}</p>     
          <div class="divider"></div>  
          <div class="info-item">
            <p>{{nombre4a}}</p>
            <ion-label class="info-label">
              <span class="porcnok">17%</span>
              <span class="labelri">R.I</span>
            </ion-label>
          </div>
          <p class="ramoinfo">Asignatura: {{nombre5}}</p>      
        </div>
        <div>
          <ion-button class="descinfo" (click)="descargarPDF()">Descargar Informe</ion-button>
        </div>
      </div>
    </ion-content>
  </ion-router-outlet>
</ion-app>
