
<ion-content class="ion-padding">
  <div class="container">
    <div class="header-section">
      <div class="name-box">
        <p>Bienvenido Ryan</p>
      </div>
      <img src="../../../assets/img/ryan.jpg" alt="Profile Image" class="profile-image" />
    </div>


<ion-content>

  <div style="margin-top: 100px; 
   ">
    <ion-button class="botonesalu" (click)="alumnolistar()"style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Lista de cursos</ion-button>
    <br>
    <ion-button class="botonesalu" (click)="alumnoescanear()"style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Escanear QR</ion-button>
    <br>
    <br>
    <br>
    <br>
    <ion-button class="botonesalu" (click)="cerrarsesion()"style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Cerrar Sesion</ion-button>
  </div>
</ion-content>


