<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
<div>
  <div class="name-box">
    <p>Codigo Qr</p>
  </div>
  <br>
  <div class="name-box2">
    <p>Clase: Hungaro Intensivo </p>
  </div>
  <br>
  <div class="qr">
    <img src="../../../assets/img/TemplateIcono.png" alt="">
  </div>
  <div>
    <br>
    <br>
    <div class="tiempotext">
      <p>Este codigo se eliminará en 10 segundos</p>
    </div>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </div>
</div>
</ion-content>
