<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
<div>
  <div class="name-box">
    <p>Codigo Qr</p>
  </div>
  <br>
  <div class="name-box2">
    <p>Clase: Hungaro Intensivo </p>
  </div>
  <br>
  <div class="qr">
    <img (click)="pasarqr()" src="../../../assets/img/TemplateIcono.png" alt="">
  </div>
  <div>
    <br>
    <br>
    <ion-button class="btnvolver" (click)="volver()" style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Volver</ion-button>
  </div>
</div>
</ion-content>
