<ion-content class="ion-padding">
<div class="container">
    <div class="header-section">
        <div class="name-box">
            <p>Bienvenido Tony</p>
        </div>
        <img src="../../../assets/img/Tony.png" alt="Profile Image" class="profile-image">
    </div>


<ion-content>
    <div style="margin-top: 100px;">
        <ion-button class="botonesdoc" (click)="docentelista()" style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Lista de cursos</ion-button>
        <br>
        <ion-button class="botonesdoc" (click)="docentegenerarqr()" style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Generar QR</ion-button>
        <br>
        <ion-button class="botonesdoc" (click)="docenteinformes()" style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Informes</ion-button>
        <br>
        <br>
        <br>
        <br>
        <ion-button class="botonesdoc" (click)="cerrarsesion()"style="background-color: blue;border-radius: 15px; margin-left: 100px; margin-right: 100px;">Cerrar Sesion</ion-button>
    </div>
</ion-content>
