<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>
        <p class="btnmenu" (click)="btninicio()">Inicio</p>
      </div>
      <div>
        <p class="btnmenu" (click)="btncerrar()">Cerrar sesión</p>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="container">
        <div class="header-section">
          <div class="name-box">
            <p>Asistencia</p>
          </div>
    
        </div>
        <div class="name-box2">
          <p>Hungaro Intensivo</p>
        </div>
        
        <br>
        
        <div class="info-box">
          <div class="info-item">
            <p>{{nombre1}}</p>
            <ion-checkbox [(ngModel)]="asistenciaMarcada1"></ion-checkbox>
          </div>

          <div>            
          </div>
    
          <div class="info-item">
            <p>{{nombre2}}</p>
            <ion-checkbox [(ngModel)]="asistenciaMarcada2"></ion-checkbox>
          </div>

          <div>            
          </div>
    
          <div class="info-item">
            <p>{{nombre4}}</p>
            <ion-checkbox [(ngModel)]="asistenciaMarcada4"></ion-checkbox>
          </div>

          <div>
            <br>
            <ion-button (click)="confirmar()">Confirmar asistencia</ion-button>
          </div>
        </div>
      </div>
    </ion-content>


  </ion-router-outlet>
</ion-app>
